<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leinuoa.accountserver.dao.AccountDao">
    <insert id="createAccount">
        INSERT INTO `tx-account`.`account`(`id`, `account_no`, `money`) VALUES (#{id}, #{accountNo}, #{money})
    </insert>

</mapper>